html {
  font-size: 15px;
}

body {
  background-color: #fff;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 3rem;
}

h4 {
  font-size: 16px;
  font-weight: 700;
}

header {
  padding: 20px 0 0 0;
  background: #fff;
  text-align: center;
}

@media (min-width: 750px) {
  header {
    text-align: left;
  }
}
.jumbotron {
  background-color: #fff000;
}

.btn {
  color: white;
}

.card-hotel {
  flex: 1 350px;
  padding: 0px 0px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-reserva {
  font-size: 20px;
  border-radius: 0px;
}

.card-footer, .card-header {
  padding: 0px;
}

.card-body > h6 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.imagen-hotel {
  width: 100%;
  height: 250px;
}

.logo-web {
  width: 25%;
}

#banner-horizontal {
  background-size: cover;
}

.barra-horizontal {
  padding: 20px 0;
  background: #5f9ab6;
  /* Old browsers */
  background: -moz-linear-gradient(left, #462ac2 0%, #4ea8e4 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #2336a3 0%, #4ea8e4 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #2336a3 0%, #4ea8e4 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#741d51", endColorstr="#e44e52",GradientType=1 );
  /* IE6-9 */
}

.barra-horizontal p {
  margin: 0;
  color: #fff000;
}

.icono {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 60px;
  background-size: 30px;
  padding-top: 20px;
  text-align: left;
}

.icono1 {
  background-image: url(../img/icono1.png);
}

.icono2 {
  background-image: url(../img/icono2.png);
}

.icono3 {
  background-image: url(../img/icono3.png);
}

.info-hotel {
  padding: 10px 20px;
}

.info-hotel p,
.card-hotel h4 {
  margin-bottom: 5px;
}

.card-hotel .precio {
  text-decoration: line-through;
  font-size: 18px;
  margin-top: 10px;
}

.card-hotel p span {
  font-weight: 700;
  font-size: 16px;
  margin-top: 10px;
  color: green;
}

footer {
  margin-top: 40px;
  border-top: 1px solid #aaa;
  padding-top: 40px;
}

footer a {
  color: chocolate;
  font-weight: bold;
  font-size: 15px;
}

footer address {
  color: chocolate;
}

.tab-content {
  margin-top: 2rem;
  border-top: solid 1px #aaa;
  padding-top: 2rem;
}

.card-footer {
  padding: 1rem;
}

.carousel-item {
  height: 450px;
}

/*# sourceMappingURL=style.css.map */
